#wrapper { margin: 0 auto }
body {
    color: #888;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    margin: 0 auto;
}
h2,
h3 {
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #777;
}
#top-banner-reservation {
    background-color: #7CB4B9;
    float: right;
    height: 100%;
    padding: 0 5px;
}
#top-banner {
    background-color: #4e4841;
    height: 35px;
    position: fixed;
    width: 100%;
}
#top-banner-reservation a {
    background-color: #7CB4B9;
    border: 2px solid #fff;
    padding: 2px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}
#top-banner h3 { margin-top: 8px }
#nav-bar img {
    margin: 75px 0 55px 75px;
    display: inline-block;
}
#nav-bar ul {
    display: inline-block;
    float: right;
    font-size: 140%;
}
#nav-bar li {
    display: inline-block;
    float: left;
    margin-top: 90px;
    margin-right: 60px;
}
#nav-bar li a {
    text-decoration: none;
    color: #888;
}
#nav-bar:after {
    display: block;
    content: '';
    clear: both;
}
#welcome-banner {
    position: relative;
    width: 100%;
}
#welcome-banner img { max-width: 100% }
#welcome-banner h1 {
    font-size: 74px;
    position: absolute;
    width: 100%;
    top: 30%;
    color: #fff;
    font-weight: bold;
}
#home-page-info {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
#home-page-info h3 {
    font-size: 48px;
    margin: 40px 0;
}
#home-page-info p {
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
    font-size: 140%;
    line-height: 1.5em;
    padding-bottom: 40px;
}
h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#rooms-banner {
    padding: 20px 0;
    color: #fff;
    background-color: #7CB4B9;
    margin-bottom: 9px;
}
#rooms-img {
    text-align: center;
}
#rooms-img img { padding: 7px }
.row {
    margin: 0 auto;
    width: 1250px;
    margin-bottom: 340px;
}
.row p {
    font-size: 110%;
    padding-bottom: 15px;
}
.row a {
    color: #7CB4B9;
    text-decoration: none;
    font-size: 125%;
    padding: 4px 5px 4px 5px;
    border: 2px solid #7CB4B9;
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
}
.large-4 h2 {
    font-size: 260%;
    text-align: center;
}
.small-2 {
    float: left;
    margin-left: 14px;
}
.small-4 {
    float: left;
    margin-left: 36px;
}
.small-6 {
    float: right;
    margin-right: 32px;
}
.row .large-4 {
    width: 30%;
}
.amenities {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.amenities a { color: #777 }
#amenities-h1 {
    background-color: #7CB4B9;
    margin: 0 0 30px 0;
    color: #fff;
    padding: 20px 0 20px 0;
}
.amenities .large-8 h2 {
    font-size: 250%;
    margin-top: 0;
}
.amenities .large-4 {
    float: left;
    margin: 0 20px 0 20px;
}
.amenities .large-8 {
    height: 270px;
    font-size: 105%;
}
.amenities li { display: block }
#dining-content .large-4 a {
    color: #7CB4B9;
    text-decoration: none;
    font-size: 125%;
    padding: 4px 5px 4px 5px;
    border: 2px solid #7CB4B9;
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
}
#dining-banner img { width: 100% }
#dining-banner h2 {
    font-size: 300%;
    padding: 30px 0 20px 0;
    width: 50%;
    margin: 0 auto;
}
#dining-content h3 { font-size: 150% }
#dining-content span {
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
}
#dining-content {
    width: 50%;
    margin: 0 auto;
    font-size: 110%;
    padding-bottom: 40px;
}
#dining-content li {
    display: block;
}
#dining-content ul { padding: 0 }
#dining-content h2 {
    margin-top: 20px;
    color: #7CB4B9;
    border: 2px solid #7CB4B9;
    width: 120px;
    font-size: 130%;
    padding: 7px;
}
#dining-content a {
    color: #7CB4B9;
    text-decoration: none;
}
.destination {
    padding: 5px;
    color: #7CB4B9;
    border: 2px solid #7CB4B9;
    display: block;
}
.half {
    float: left;
    width: 50%;
}
.contact-content h2 {
    font-size: 220%;
    padding-bottom: 20px;
}
.contact-content {
    margin: 0 auto;
    width: 960px;
}
.contact-content p { font-size: 80% }
.contact-content select {
    width: 15em;
    margin-bottom: 18px;
    border: 1px solid #999;
    padding: 2px;
    color: #777;
}
.contact-content label {
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-size: 140%;
    font-style: italic;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
}
.contact-form label {
    width: 11em;
    margin-bottom: 18px;
}
.contact-form textarea {
    vertical-align: top;
    margin-bottom: 10px;
}
#contact-h1 {
    background-color: #7CB4B9;
    margin: 0 0 30px 0;
    color: #fff;
    padding: 20px 0 20px 0;
    width: 100%;
}
.button {
    margin: 0 0 80px 205px;
    color: #7CB4B9;
    background-color: #fff;
    font-size: 125%;
    padding: 4px 5px 4px 5px;
    border: 2px solid #7CB4B9;
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
}
#get-in-touch label {
    width: 118px;
    display: inline-block;
    text-align: right;
    margin: 0 15px 10px 5px;
}
#get-in-touch h2 {
    font-size: 220%;
    padding-bottom: 20px;
}
.form-columns {
    margin: 0 auto;
    width: 50%;
    font-size: 105%;
}
.form-columns textarea {
    vertical-align: top;
    border: 1px solid #999;
    margin-bottom: 5px;
}
.form-columns h2 { font-size: 220% }
.form-columns label {
    width: 190px;
    margin: 0 5px 18px 5px;
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-size: 130%;
    font-style: italic;
    font-weight: lighter;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
}
.form-columns input {
    border: 1px solid #999;
    padding: 3px;
}
.form-columns select {
    border: 1px solid #999;
    padding: 2px;
    color: #777;
}
label.checkbox {
    width: auto; 
    text-align: left;
    margin-left: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.checkbox input {
    margin: 0;
}
#newsletter-yes,
#newsletter-no {
    vertical-align: top;
}
.form-columns span,
#contact-form span {
    color: red;
    font-size: 75%;
}
#site-map-ul {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 400px;
}
#site-map-ul li {
    display: block;
    margin-bottom: 20px;
}
#site-map-ul li a {
    font-family: "Crete Round", "Open Sans", sans-serif;
    font-style: italic;
    color: #888;
    font-size: 170%;
}
#menu {
    margin: 0 auto;
    width: 35%;
    margin-bottom: 40px;
}
#menu-header h1 {
    font-size: 270%;
    background-color: #7CB4B9;
    color: #fff;
    padding: 10px 0;
}
#menu h2 {
    margin-top: 50px;
    font-size: 200%;
}
#privacy-and-terms {
    color: #888;
    font-size: 300px;
    padding-top: 50px;
}
.footer {
    background-color: #4e4841;
    clear: both;
}
.footer ul {
    text-align: right;
    margin: 0;
}
.footer ul li {
    margin: 9px 50px 9px 50px;
    display: inline-block;
}
.footer li:first-child {
    float: left;
    margin-left: 0;
}
.footer li a {
    color: #bbb;
    text-decoration: none;
}
@media print {
    #top-banner,
    #nav-bar,
    .footer {display: none;}
}